* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.pokemon-card {
	/* background-color: #86c0d3; */
	background-image: linear-gradient(
		to bottom,
		#eaedf6,
		#cedcee,
		#accee3,
		#689cad
	);

	color: #213941;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	width: 160px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	cursor: pointer;
}
/* img {
	transition: background-image 3s ease-in-out;
} */
.pokemon-card--clicked {
	/* background-color: #ff7f50;
	 */
	background-image: linear-gradient(
		to bottom,
		#f9e0fa,
		#ffbadb,
		#ff969f,
		#ff7f50
	);
}

.pokemon-type__item {
	background-color: white;
	color: #213941;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 9px;
}

.title-container {
	padding: 3px;
	margin-bottom: 5px;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
}
