* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.pokemon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.pokemon-card {
	background-color: lightblue;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	width: 180px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	cursor: pointer;
}

.pokemon-card--clicked {
	background-color: coral;
}

.pokemon-type {
	background-color: grey;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 9px;
}

.title-container {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
