.App {
	text-align: center;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pokelist-title {
	/* padding: 20px;
	font-size: 22px;
	color: #213941; */
	height: 50px;
	margin: 20px;
}
